- const platform = process.platform
html
  head
    link(rel="stylesheet" href="css/common.css")
    link(rel="stylesheet" href=`css/${platform}.css`)
    script(src="js/main-window.js")
  body
    section#AppWrapper
    script(src="js/renderer-app-react.js")